<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cuyer.calitracker">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Calitracker">
        <activity
            android:name="com.cuyer.calitracker.View.exercises"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.cuyer.calitracker.View.SignUpEnd"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.cuyer.calitracker.View.SignUpPushNotifications"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.cuyer.calitracker.View.SignUpSelectMetric"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.cuyer.calitracker.View.SignUpSelectGender"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.cuyer.calitracker.View.EmailVerification"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.cuyer.calitracker.View.LogIn"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.cuyer.calitracker.View.HomeActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.cuyer.calitracker.View.Sign_Up"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.cuyer.calitracker.View.LoginScreen"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/loginScreenTheme" />
        <activity
            android:name="com.cuyer.calitracker.View.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.cuyer.calitracker.Controller.PushNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"></action>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4286204280518303~8924411946"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>